// Required
@import "../node_modules/bootstrap/scss/functions";

$primary: #64A4C2;
$secondary: #7F8CAA;
$info: #333446;
$success: #EAEFEF;
$warning: #1e1e24;

@import "../node_modules/bootstrap/scss/bootstrap";